ci:
  autoupdate_schedule: monthly
exclude: docopt.py
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
    - id: ruff
    - id: ruff-format
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.1
  hooks:
    - id: check-github-workflows
    - id: check-readthedocs
- repo: https://github.com/asottile/blacken-docs
  rev: 1.20.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==24.10.0]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    # For example_rcfiles/konch_requests.py
    additional_dependencies: [types-requests==2.32.0.20241016]
