repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v1.16.3
  hooks:
  - id: pyupgrade
    exclude: docopt.py
    args: [--py36-plus]
- repo: https://github.com/python/black
  rev: 19.3b0
  hooks:
  - id: black
    exclude: docopt.py
    language_version:python3
    args: [--py36]
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.7.7
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear==18.8.0]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.701
  hooks:
  - id: mypy
- repo: https://github.com/asottile/blacken-docs
  rev: v0.5.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==19.3b0]
