# Task running
invoke==1.0.0

# Linting
flake8==3.5.0

# Testing
pytest==3.6.1
tox==3.0.0
scripttest==1.3

# Docs
Sphinx>=1.2.2

# Shells
ipython>=4.2.0
bpython>=0.14.2
ptpython>=0.15

# Distribution
twine==1.11.0
